.f1 {
  font-family: "Gaegu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.f2 {
  font-family: "Tourney", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.box {
  border: solid 1px black;
}

.tr {
  padding-top: 10px;
}

.first-column {
  width: 10%; /* 첫 번째 열 너비 */
}

.second-column {
  width: 80%; /* 두 번째 열 너비 */
}

.third-column {
  width: 10%; /* 세 번째 열 너비 */
}

.full-width-table {
  width: 100%; /* 테이블 전체 너비 */
}
